footer {
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-image: url(../images/down.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 600px) {
  footer {
    height: 60px;
    line-height: 60px;
  }
}
