footer {
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-image: url(../images/down.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
