.App {
  position: relative;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(./images/diwen.png);
  opacity: 0.03;
  z-index: -1;
}

section {
  position: relative;
  display: flow-root;
  width: 100%;
  overflow: hidden;
  font-family: ClashRoyale;
}

p,
li {
  font-family: Chalkboard;
  font-weight: bold;
}
