html {
  font-size: 16px;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffff8;
  overflow: hidden;
}

#root {
  overflow-y: scroll;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  outline: 0 none;
  border: 0 none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  font-family: ClashRoyale;
}

.center-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  max-width: 1900px;
}
